.banner1 {
  display: flex;
  flex-direction: row;
}
.left {
  width: 50%;
  background-color: #f4f3f7;
}
.right > img {
  width: 670px;
  height: 450px;
  margin-top: 0px;
}
.left > h1 {
  color: #4834d4;
  margin-top: 60px;
  margin-left: 80px;
  font-size: 45px;
  font-weight: 500;
}
.left > h2 {
  margin-top: 0px;
  margin-left: 80px;
  font-size: 40px;
  font-weight: 400;
}
.btnn {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
}
.btn2 {
  margin-top: 30px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: white;
  border: none;
  background-color: #4834d4;
  font-weight: 550;
  cursor: pointer;
  width: 230px;
  height: 40px;
  transform: translateX(0px);
  transition: 1s all;
}
.btn3 {
  margin-top: 15px;
  padding: 5px 10px;
  font-size: 0.9rem;
  color: #4834d4;
  border: none;
  background-color: white;
  font-weight: 550;
  cursor: pointer;
  width: 230px;
  height: 40px;
  border: 2px solid #4834d4;
  transform: translateX(0px);
  transition: 0.2s all;
}
.btn3:hover {
  box-shadow: 3px 3px 7px #5f4888ff;
}
.btn2:hover {
  box-shadow: 3px 3px 7px #5f4888ff;
}
.left > p {
  margin-left: 80px;
  font-size: 16px;
  margin-top: 10px;
  color: #4834d4;
  font-weight: 600;
  cursor: pointer;
}
.left > p:hover {
  text-decoration: underline;
  text-decoration-color: #4834d4;
}
.arr {
  margin-left: 240px;
  margin-top: -auto;
}
