.error > img {
  height: 605px;
  width: 1300px;
  object-fit: cover;
}
.error {
  overflow-x: hidden;
  overflow-y: hidden;
  display: grid;
  place-items: center;
  position: relative;
}
.error_info {
  margin-top: -600px;
  background-color: lightgray;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.19);
  padding: 100px;
  border-radius: 8px;
}
.error_info > h1 {
  padding-top: -50px;
  font-weight: 400;
}
.err_but {
  background-color: red !important;
  margin-left: 200px !important;
  color: white !important;
  margin-top: 60px !important;
}
.error_info > img {
  height: 110px;
  width: 110px;
  object-fit: cover;
  margin-left: 230px;
  padding-bottom: 40px;
}
.err_but:hover {
  background-color: white !important;
  color: red !important;
}
