.room {
  display: flex;
  flex-direction: row;
}
.room_meet {
  width: 900px;
  background-color: rgb(29, 28, 28);
  height: 556px;
  flex-wrap: wrap;
}
.video_stream {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap !important;
}
.user_video {
}
.mrr_l1 {
  margin-left: 8px;
  padding: 16px;
  color: white;
  font-size: 25px !important;
  font: 100 !important;
  cursor: pointer;
}
.mrr_l12 {
  margin-left: -0px;
}
.mrr_l {
  display: flex;
  flex-direction: row;
  width: 320px;
  height: 47px;
  background-color: rgb(70, 66, 66);
  box-shadow: 1px 1px 10px black;
  padding: 5px;
  position: relative;
  place-items: center;
  margin-top: 20px;
  margin-left: 270px;
}
.name {
  position: absolute;
  font-weight: 800;
  margin-bottom: 20px;
  font-size: xx-small;
}
.name1 {
  position: absolute;
  font-weight: 800;
  margin-top: -15px;
  color: black;
  font-size: xx-small;
}
.name2 {
  position: absolute;
  font-weight: 800;
  margin-top: -15px;
  color: black;
  font-size: xx-small;
}
.msg {
  padding: 8px;
  font-weight: 600;
  text-decoration: none;
}
.chat_box {
  display: flex;
  flex-direction: column;
}
.message {
  margin-top: 30px;
  position: relative;
  color: white;
  font-size: 16px;
  padding: 2px;
  width: fit-content;
  border-radius: 5px;
  background-color: #4a5fba;
  margin-bottom: 30px;
  margin-left: 10px;
}
.reciver {
  margin-left: auto;
  background-color: #cfeeba;
  color: black;
}

.room_meet {
  display: flex;
  flex-direction: column;
}
.room_control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(230, 10, 10);
  color: white;
  z-index: 100;
  height: 35px;
}
.room_control > h3 {
  font-weight: 300;
  margin-left: 30px;
}
.room_control > button {
  margin-right: 30px;
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.empty_meet {
  display: none;
  height: 0ch;
}

.mrrr_l1 {
  cursor: pointer;
}
.chat_input {
  overflow-y: scroll;
}
.view_recording {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: -38px;
  z-index: 100;
}
.close_head {
  cursor: pointer;
}

.room_control_1 {
  display: flex;
  flex-direction: row;
  background-color: rgb(230, 10, 10);
  color: white;
  height: 45px;
}
.download {
  margin-right: 100px;
  font-weight: 700;
  font-size: 10px;
  margin-left: 250px;
}
.room_control_1 > button {
  padding: 5px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.view_button {
  font-weight: 700;
  font-size: 11px;
  cursor: pointer;
}
.view_button_1 {
  font-weight: 700;
  font-size: 11px;
  cursor: pointer;
}
.local_stream {
  display: flex;
  flex-direction: row;
  width: 70px !important;
  height: 190px !important;
  padding-top: 230px;
  margin-left: -250px;
}
.remote_stream {
  margin-top: -180px;
  padding-left: 10px;
  width: 250px;
}
.remote_stream1 {
  margin-top: -180px;
  padding-left: 10px;
  width: 250px;
  display: none;
}

.invite {
  padding: 6px 2px;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  border: none;
  cursor: pointer;
  margin-right: 8px;
  text-decoration: none;
}
.invite_1 {
  display: flex;
  flex-direction: column;
}
.button_main_1 {
  margin-top: 10px;
  padding: 10px 14px;
  font-size: 1rem;
  color: white;
  border: none;
  background-color: #0f59a3;
  font-weight: 600;
  cursor: pointer;
}
.button_main_1:hover {
  background-color: lightgray;
  color: black;
}
.modal > h1 {
  font-weight: 300;
}
.input_room {
  margin-top: 10px;
  margin-bottom: 15px;
}
.room_stream {
  width: 600px;
  flex-wrap: wrap;
}
.tooltip {
  position: absolute;
  top: -50px;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
  pointer-events: none;
  opacity: 0;
  text-shadow: 4px;
  font-weight: 600;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.tooltip::before {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -5px;
  left: 50%;
  background-color: white;

  transform: translateX(-50%) rotate(45deg);
}
.tooltip_1:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
.mrr_l121 {
  margin-bottom: -4px;
  padding: 16px;
  color: white;
  cursor: pointer;
  font-size: 25px !important;
  font: 100 !important;
  background-color: rgb(175, 34, 34);
}
.mrr_l12 {
  padding: 16px;
  color: white;
  cursor: pointer;
  font-size: 25px !important;
  font: 100 !important;
  background-color: rgb(175, 34, 34);
}
